@font-face {
  font-family: metropolis-thin;
  src: url("../fonts/metropolis.thin.otf");
}

@font-face {
  font-family: metropolis-medium;
  src: url("../fonts/metropolis.medium.otf");
}

@font-face {
  font-family: metropolis-regular;
  src: url("../fonts/metropolis.regular.otf");
}

@font-face {
  font-family: metropolis-semibold;
  src: url("../fonts/metropolis.semi-bold.otf");
}

@font-face {
  font-family: metropolis-extralight;
  src: url("../fonts/metropolis.extra-light.otf");
}
.footer-section {
  background-color: rgba(229, 226, 226, 0.162);
  font-family: metropolis-thin;
  margin-top: 50px;
  padding-top: 45px;
  padding-left: 40px;
}

.footer-section-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.country-language-div,
.country-div,
.language-div {
  display: flex;
  align-items: center;
  font-family: metropolis-regular;
  font-size: 17px;
}

.country-language-div {
  column-gap: 20px;
}

.language-div,
.country-div {
  column-gap: 10px;
  border: solid 1px rgb(192, 191, 191);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.down-mark {
  rotate: 90deg;
  height: 8px;
}

.zomato-dark-logo {
  height: 27px;
}

.country-img,
.language-img {
  height: 22px;
}

.footer-section-2 {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  margin-top: 25px;
}

.about-zomato-div h4,
.zomaverse-div h4,
.for-restaurants-div h4,
.learn-more-div h4,
.social-links-div h4 {
  font-family: metropolis-regular;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.about-zomato-div div,
.zomaverse-div div,
.for-restaurants-div div,
.learn-more-div div,
.social-links-div div{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(149, 149, 149);;
}

.about-zomato-div,
.zomaverse-div,
.for-restaurants-div,
.learn-more-div,
.social-links-div {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}