@font-face {
  font-family: metropolis-thin;
  src: url("../fonts/metropolis.thin.otf");
}

@font-face {
  font-family: metropolis-medium;
  src: url("../fonts/metropolis.medium.otf");
}

@font-face {
  font-family: metropolis-regular;
  src: url("../fonts/metropolis.regular.otf");
}

@font-face {
  font-family: metropolis-semibold;
  src: url("../fonts/metropolis.semi-bold.otf");
}

@font-face {
  font-family: metropolis-extralight;
  src: url("../fonts/metropolis.extra-light.otf");
}
.footer-section {
  background-color: rgba(229, 226, 226, 0.162);
  font-family: metropolis-thin;
}

.footer-section-1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.country-language-div, .country-div, .language-div{
  display: flex;
  align-items: center;
}

.language-div, .country-div{
  column-gap: 10px;
}
