@font-face {
    font-family: metropolis-thin;
    src: url("../fonts/metropolis.thin.otf");
  }
  
  @font-face {
    font-family: metropolis-medium;
    src: url("../fonts/metropolis.medium.otf");
  }
  
  @font-face {
    font-family: metropolis-regular;
    src: url("../fonts/metropolis.regular.otf");
  }
  
  @font-face {
    font-family: metropolis-semibold;
    src: url("../fonts/metropolis.semi-bold.otf");
  }
  
  @font-face {
    font-family: metropolis-extralight;
    src: url("../fonts/metropolis.extra-light.otf");
  }
  
.middle-section-1, .middle-section-2, .middle-section-3{
    font-family: metropolis-regular;
  }

.middle-section-1, .middle-section-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 300px;
}

.order-online {
  width: 500px;
  height: 230px;
  margin-top: 35px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 1px rgb(60, 60, 60);
  transition: transform 0.2s ease-in-out;
}

.order-online:hover{
  transform: scale(1.04);
}

.order-online-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px -140px;
}

.order-online-text{
    position:relative;
    bottom: 90px;
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 8px;
}

.order-online-title, .order-online-subtitle{
  margin: 10px;
  color: rgb(60, 60, 60);
}

.order-online-title{
  font-size: 1.1rem;
}

.middle-section-2{
  margin-top: 50px;
  font-family: metropolis-thin;
}

.mid-sec-2-heading{
  color: rgb(88, 88, 88);
}

.location-name{
  color: rgb(34, 34, 34);
}